<%
  const clan = await db.oneOrNone("select * from clans where clantag=$[tag]", {tag: formatTag(req.query.tag)});
  if (!clan) { %>Clan not found.<% } else {

  const check = await requirePerm(req, "record");
  if (check !== true) { %><%- check %><% }
  else {
%>
  <%- await include("partials/header.ejs", {req, res, title: "Edit Clan " + clan.clanname}) %>
  <form action="do_edit" method="post">
    <input type="hidden" name="clantag" value="<%= clan.clantag %>" />
    <table>
      <tbody>
        <tr>
          <td>Clan Name</td>
          <td><input type="text" value="<%= clan.clanname %>" disabled /></td>
          <td></td>
        </tr>
        <tr>
          <td>Clan Tag</td>
          <td><input type="text" value="<%= clan.clantag %>" disabled /></td>
          <td></td>
        </tr>
        <tr><td colspan="3">&nbsp;</td></tr>
        <tr>
          <td>Point Balance</td>
          <td><input type="text" value="<%= clan.points %>" disabled /></td>
          <td>Use <a href="record?tag=<%= clan.clantag %>">Add Transaction</a> to change point balance</td>
        </tr>
        <tr><td colspan="3">&nbsp;</td></tr>
        <tr>
          <td><label for="active">Active FWA</label></td>
          <td><input type="checkbox" id="active" value="true" disabled <%- clan.active ? "checked" : "" %> /></td>
          <td>Taken from whether clan is on ProudFWA. Use <a href="reload" target="_blank">Reload</a> to reload data</td>
        </tr>
        <tr>
          <td><label for="zerowin">Zero Win</label></td>
          <td><input type="checkbox" id="zerowin" name="zerowin" value="true" <%- clan.special.includes("zerowin") ? "checked" : "" %> /></td>
          <td>Resets points to -100 every sync. If this is checked, a transaction will be generated setting points to -100.</td>
        </tr>
        <tr>
          <td><label for="redzone">Red Zone</label></td>
          <td><input type="checkbox" id="redzone" name="redzone" value="true" <%- clan.special.includes("redzone") ? "checked" : "" %> /></td>
          <td>Resets points to -50 every sync. If this is checked, a transaction will be generated setting points to -50.</td>
        </tr>
        <tr>
          <td></td>
          <td class="right">
            <input type="submit" value="Edit Clan" />
          </td>
          <td></td>
      </tbody>
    </table>
  </form>
  <%- await include("partials/footer.ejs", {req, res}) %>
<%
  }
}
%>
